
.mainNav{
    text-align:center;
    font-size: large;   
}
.mainNav li{
    display: inline;
}

.mainNav li a {
    padding: 8px;
    background-color:rgb(58,180,166);
    text-decoration: none;
}


.mainNav li a:hover {
   background-color: #00BDBD;
}



.hideNav{
    display: none;
}


.showNav{
    position: relative;
    margin-top: -3px;  
}

.showNav li{   

}

.showNav li a:hover{
   background-color: #669999;
}
.showNav li a{
    color: white;
    text-decoration: none;
}
